.vertical-list {
    margin : 8% 0 2% 16%;
}

.feature-item h4 {
    margin-bottom : 8px;
}

.feature-item p {
    margin-top  : 0;
    padding-top : 0;
}

mat-card {
    border          : 1px solid #e7e7e7;
    box-shadow      : 2px 4px 3px 1px rgba(231,231,231.6);
    margin-bottom   : 20px;
    padding-top     : 36px;
}



.mat-card-title,
.subverticals mat-card-title {
    font-size   : 16px;
    color       : #505050;
    text-align  : center;
    font-weight : 500;
}

.dialog.cdk-overlay-pane {
    position    : static;
    margin-left : 50%;
    margin-top  : -32%;
}

.dialog .mat-dialog-container {
    width       : 70%;
}

.features.modal-box {
    background      : linear-gradient(to bottom right, #E7E7E7, #F6F6F6);
    padding         : 3% 0% 0% 3%;
    width           : 45%;
    position        : absolute;
    float           : left;
    top             : 22%;
    right           : 4%;
}

.modal-close-btn {
    background      : #F6F6F6;
    border-radius   : 50%;
    border          : 0.075rem solid #910825;
    width           : 30px;
    height          : 30px;
    position        : relative;
    float           : right;
    margin-top      : -9%;
    margin-right    : -2%;
    text-align      : center;
    padding         : 2px 1px;
}

.modal-close-btn .material-icons {
    font-size : 24px;
}

.f-icon {
    padding-right   : 10px;
}

.f-icon img {
    width   : 24px;
    height  : 24px;
    margin  : 0 0 -4px 0;
}

.f-title {
    font-weight : 700;
}

.modal-footer {
    margin-top      : 20px;
    margin-bottom   : 20px;
}

.btn {
    margin-top  : 30px;
    width       : 30%;
}

p.text-small {
    margin-top : 5px;
}