.vertical-list {
    margin : 8% 0 2% 16%;
}

h5 {

  margin : 25px 0 25px;
}

.feature-item h4 {
    margin-bottom : 8px;
}

.feature-item p {
    margin-top  : 0;
    padding-top : 0;
}

.grid-wrap {

    height      : 24rem;;
    overflow-y  : scroll;
    padding     : 1.0rem 1.2rem;
}

mat-card {

    margin-bottom   : 20px;
    padding         : 10px 10px 10px 10px;
    width           : 152px;
    height          : 152px;
    border-radius   : 5px;
    box-shadow      : 0 2px 6px 0 rgba(0, 0, 0, 0.17) !important;
    background-color: #ffffff !important;
}

::ng-deep mat-card.additional {

  border-radius     : 5px;
  box-shadow        : 0 2px 6px 0 rgba(0, 0, 0, 0.17);
  background-image  : linear-gradient(223deg, #910825, #51084d);
  font-family       : Lato;
  font-size         : 16px;
  font-weight       : 300;
  font-style        : normal;
  font-stretch      : normal;
  line-height       : 1.5;
  letter-spacing    : normal;
  text-align        : center;
  color             : #fff;
  height            : auto;
}


::ng-deep img.mat-card-image {

  width           : 4rem !important;
  height          : auto !important;
  margin-left     : auto !important;
  margin-right    : auto !important;
  display         : block !important;
  padding         : 0 !important;
  margin-bottom   : 1rem !important;
}

::ng-deep .mat-card-title {

  text-align : center;
}

.mat-card-image:first-child{
  margin-top: 0px !important
}

.double-grid .mat-card:nth-child(odd){
  margin-right: 60px;
}
.triple-grid  .mat-card{
  margin-right: 32px;
}
.triple-grid .mat-card:nth-child(3n){
  margin-right: 0px !important;
}

.mat-card-title {

    font-size : 0.9rem;
}

.vertical-list img {
    margin-left     : auto;
    margin-right    : auto;
    display         : block;
}

.vertical-list.double-grid img {
    width           : 25%;
}

.vertical-list.triple-grid img {
    width           : 50%;
}

.vertical-list mat-card-title {
    text-align : center;
}

  /* medium size viewport */
  @media screen and (max-width: 959px) {

  }
  /* small size viewport */
  @media screen and (max-width: 599px) {

    .vertical-list {

        margin : 2% 8% 0%;
    }
    .mat-card-title {
        font-size : 12px;
    }

    .triple-grid .mat-card-title {
        font-size   : 13px;
        line-height : 20px;
    }

    .triple-grid .mat-card {
      margin-right  : 12px;
      margin-bottom : 24px;
    }
    .triple-grid .mat-card:nth-child(3n){
      margin-right  : 0px !important;
    }

    .double-grid .mat-card:nth-child(odd) {

        margin-right : 0;
    }

    .double-grid mat-card {

      margin : 0 24px 24px;
      
    }

    .double-grid .mat-card-title {

      font-size   : 16px;
      line-height : 26px;
    }


  }
